# Created by .ignore support plugin (hsz.mobi)
.gitignore
holiday.common/target/classes/
holiday.common/target/generated-sources/
holiday.dao/target/classes/
holiday.domain/target/
holiday.manager/target/classes/
holiday.service/target/classes/
holiday.web/target/classes/
holiday.web/target/holiday.web/META-INF/
holiday.web/target/holiday.web/WEB-INF/application-context.xml
holiday.web/target/holiday.web/WEB-INF/application.properties
holiday.web/target/holiday.web/WEB-INF/classes/
holiday.web/target/holiday.web/WEB-INF/data-context.xml
holiday.web/target/holiday.web/WEB-INF/lib/
holiday.web/target/holiday.web/WEB-INF/mybatis-config.xml
holiday.web/target/holiday.web/WEB-INF/spring-mvc.xml
holiday.web/target/test-classes/
holiday.web/target/tomcat/logs/
holiday.web/target/tomcat/webapps/
holiday.web/target/tomcat/work/
/.idea/
/holiday.common/holiday.common.iml
/holiday.domain/holiday.domain.iml
/holiday.manager/holiday.manager.iml
/holiday.service/holiday.service.iml
/holiday.web/holiday.web.iml
/holiday.iml
/holiday.manager/target/
/holiday.common/target/
/holiday.dao/target/
/holiday.service/target/
/holiday.web/target/

!/.gitignore
